body {
    background-color: #ddd;
}

#menu, #content, #help {
    background-color: #eee;
    padding: 10px;
}

#footer {
    background-color: #eee;
    margin-top: 10px;
}

#footer p {
    margin-bottom: 0;
}
