<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Andrew Chilton" />
   <link rel="stylesheet" href="/s/css/reset.min.css" type="text/css" />
   <link rel="stylesheet" href="/s/css/960.min.css" type="text/css" />
   <link rel="stylesheet" href="/s/css/text.min.css" type="text/css" />
   <link rel="stylesheet" href="/s/css/style.css" type="text/css" />
</head>
<body>

<div class="container_12">
    <div id="header" class="grid_9">
       <h2>Andy Chilton's Wiki</h2>
       <p>...and not much else</p>
    </div><!-- header -->
    <div id="nav" class="grid_3">
        <ul>
            <li>Menu</li>
            <li>Menu</li>
            <li>Menu</li>
            <li>Menu</li>
            <li>Menu</li>
        </ul>
    </div><!-- nav -->
    <div class="clear">&nbsp;</div>

    <div id="menu" class="grid_3">
        <ul>
            <li>Menu</li>
            <li>Menu</li>
            <li>Menu</li>
            <li>Menu</li>
            <li>Menu</li>
        </ul>
    </div><!-- menu -->
    <div id="content" class="grid_9">

        <h1>{{ page.title }}</h1>

        {{ content }}

    </div><!-- content -->
    <div class="clear">&nbsp;</div>

    <div id="footer" class="grid_12">
        <p>&copy; Andrew Chilton 2008</p>
    </div><!-- footer -->
    <div class="clear">&nbsp;</div>

</div>

</body>
</html>
