<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Andrew Chilton" />
   <link rel="stylesheet" href="/s/css/reset.min.css" type="text/css" />
   <link rel="stylesheet" href="/s/css/960.min.css" type="text/css" />
   <link rel="stylesheet" href="/s/css/text.min.css" type="text/css" />
   <link rel="stylesheet" href="/s/css/style.css" type="text/css" />
</head>
<body>

<div id="page" class="container_12">
    <div id="header" class="grid_12">
       <p>
           Andrew Chilton's Wiki:
           <a href="/">Index</a>
           |
           <a href="/about.html">About</a>
           <span class="align-right">
               Other Links:
               <a href="http://kapiti.geek.nz/">My Homepage</a>
               |
               <a href="http://github.com/andychilton">On GitHub</a>
           </span>
       </p>

    </div><!-- header -->
    <div class="clear">&nbsp;</div>

    <div id="menu" class="grid_3">
        <h2>Main Categories</h2>
        <ul>
            <li><a href="/git-index.html">Git</a></li>
            <li><a href="/vim-index.html">Vim</a></li>
            <li><a href="/misc-index.html">Misc</a></li>
        </ul>
    </div><!-- menu -->
    <div id="content" class="grid_9">

        <h1>{{ page.title }}</h1>

        {{ content }}

    </div><!-- content -->
    <div class="clear">&nbsp;</div>

    <div id="footer" class="grid_12">
        <p class="align-right">&copy; <a href="http://kapiti.geek.nz/">Andrew Chilton</a> 2008</p>
    </div><!-- footer -->
    <div class="clear">&nbsp;</div>

</div><!-- page -->

</body>
</html>
